@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {

    font-family: 'Anton', sans-serif;
}

.cabecalho {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    background-color: RGB(255, 194, 52);
    padding: 30px 50px 0px 50px;
}

.cabecalho__nave__link {
    display: flex;
    gap: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__secao01 {
    background-color: RGB(255, 194, 52);

    width: 100%;

    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.principal__secao01__ladoA {
    width: 50%;
    height: 500px;

    overflow: hidden;
}

.principal__secao01__ladoA__titulos {
    color: rgb(65, 31, 9);
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

.principal__secao01__ladoA__titulos__titulo1 {
    width: 80%;

    padding: 5px;

    border: 2px dashed;
}

.principal__secao01__ladoA__titulos__titulo2 {
    font-size: 100px;
}

.principal__secao01__ladoA__titulos__titulo3 {
    font-size: 60px;
}

.principal__secao01__ladoB {

    width: 40%;
    height: 100%;
    position: relative;
}

.bagulhoDoido {
    display: flex;
}

.sobre {
    position: absolute;
    bottom: 0;
}

.doidoBagulho {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    font-size: medium;
    color: rgb(65, 31, 9);
}


#hamburguer-today {
    color: rgb(255, 255, 255);
}


.hamburguer-esquerda {
    background-image: url(../img/sessao1/fundo1.png);
    width: 549px;
    height: 387px;
    padding: 1rem;
}

.hamburguer-direita-img1 {
    background-image: url(../img/sessao1/fundo2.png);
    width: 548px;
    height: 177px;
    padding: 1rem;
}

.hamburguer-direita-img2 {
    background-image: url(../img/sessao1/fundo3.png);
    width: 548px;
    height: 177px;
    padding: 1rem;
}



.container-menu {
    background-color: rgb(255, 3, 3);
    height: 200px;
}


.menu-textos {
    color: RGB(65, 31, 9);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.menu-textos h4 {
    font-size: 1rem;
    background-color: RGB(255, 194, 52);
    display: flex;
    width: max-content;
    padding: 0.5rem;
}

.menu-textos h3 {
    font-weight: bold;
    font-size: 2.5rem;
}

.menu-textos p {
    padding: 0.5rem 2rem 5rem;
}

.card {
    color: RGB(65, 31, 9);
    border: none;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-title {
    text-align: center;
}

.card-text {
    font-size: 0.8rem;
    text-align: center;
    flex-grow: 1;
}

.btn-primary {
    background-color: RGB(223, 28, 28);
    border: none;
    font-weight: bold;
    width: 70%;
    border-radius: 0px;
}

.btn-primary:hover {
    background-color: RGB(255, 194, 52);
}

.discover-imagem{
    width: 100%;
}

#discover{
    color: RGB(65,31,9);
}

#discover h4{
    font-size: 2.3rem;
}

#discover h3 {
    font-size: 2.2rem;
    font-weight: bold;
}

#discover p{
    font-size: 0.8rem;
}

@media (max-width: 980px) {

    * {
        font-size: 20px;
    }

    #hamburguer-today .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hamburguer-direita {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card-img-top {
        width: 40%;
    }

    .btn-primary {
        width: 50%;
    }
}

@media (max-width: 756px) {

    .card {
        height: 350px;
    }

}